.box {
    pointer-events: none;// this will prevent triggering any mouse event on this element
    transition: transform 300ms ease-in-out; // animation is defined before adding the trigger
}
// Adding trigger for animation

.trigger:hover .box{
    transform: translate(200px, 150px) rotate(20deg);
}